/* universal selector */
*{
    box-sizing: border-box;
}
/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Oswald:wght@200;300;400;500&family=Roboto:wght@300;400;500;700&family=Staatliches&display=swap');
/* 
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Staatliches', cursive;
*/
/* body */
body{
    background: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
}
/* header */
.m-header{
    background-color: rgba(0, 0, 0, 0.507);
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.438);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 22px 10px;
    width: 100%;
}
/* navigation */
.m-header nav a{
    background-color: rgba(255, 255, 255, 0.151);
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.5px;
    margin-left: 5px;
    padding: 6px 8px;
    text-decoration: none;
    text-transform: uppercase;
}
.m-header nav a:nth-child(2){background-color: rgb(226, 46, 14);}
/* main area */
.m-main{
    background-color: rgba(0, 0, 0, 0.507);
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
    width: 90%;
}
/* main area container */
.container{
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 95%;
}
/* club section */
.t-club{
    background-color: #0F0E0C;
    display: flex;
    flex-direction: column;
}
/* about div */
.about{
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(214, 41, 11);
    margin: auto;
    width: 93%;
}
.about h2{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    margin: 0;
    margin-top: 25px;
    margin-left: 25px;
    text-transform: uppercase;
}
.about h2 span{
    color: #E22627;
}
/* about inner section */
.about-inner{
    display: flex;
    align-items: center;
    padding: 10px 22px;
}
/* about inner shape */
.ai-shape{
    position: relative;
    height: 290px; 
    width: 450px;
}
.about-inner img{height: 290px;width: 450px;}
/* about inner shape design */
.ai-sd{
    position: absolute;
    top: 1%;
    left: 1%;
    outline: 5px solid rgba(255, 255, 255, 0.438);
    height: 285px;
    width: 440px;
}
.ai-sd:hover{
    outline-color: white;
    transition: 0.1s;
}
/* about area text */
.a-text{
    padding-left: 12px;
}
.a-text p:first-child{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 0.90rem;
    line-height: 19px;
    text-align: justify;
    text-transform: uppercase;
}
.a-text p:nth-child(2), p:nth-child(3){
    color: #cac8c8;
    font-family: 'Lato', sans-serif;
    font-size: 0.85rem;
    line-height: 18px;
    text-align: justify;
}
/* our info */
.o-info{
    display: flex;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    width: 95%;
}
.o-info h3{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    margin: 0;
    text-transform: uppercase;
}
.o-info h3 span{
    color: #E22627;
}
/* club rule */
.c-rule{
    padding-left: 0;
    padding-right: 10px;
    width: 33%;
}
.c-rule h3{
    margin-left: 23px;
}
.c-rule ol li::marker{
    color: #E22627;
    font-size: 1.1rem;
    padding-left: 5px;
}
.c-rule ol li{
    color: #cac8c8;
    font-family: 'Oswald', sans-serif;
    font-size: 0.85rem;
    line-height: 20px;
}
/* quick link */
.q-link{
    border-left: 1px solid rgb(214, 41, 11);
    border-right: 1px solid rgb(214, 41, 11);
    padding-left: 25px;
    padding-right: 15px;
    width: 33%;
}
.q-link h3{
    margin-bottom: 10px;
}
/* quick link area */
.links a{
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    padding-top: 7px;
    padding-bottom: 8px;
}
.links a:hover{
    font-size: 0.96rem;
    transition: 0.5s;
}
.links a i{
    color: #E22627;
}
/* our team */
.o-team{
    padding-left: 25px;
    width: 33%;
}
/* team gallery */
.gallery{
    display: flex;
}
/* gallery column */
.column{
    padding: 2px;
}
.gi{
    position: relative;
    height: 120px;
    width: 150px;
}
.gi img{
    height: 120px;
    vertical-align: middle;
    padding: 5px;
    width: 150px;
}
.gi-sd{
    position: absolute;
    top: 7%;
    left: 5%;
    outline: 3px solid rgba(255, 255, 255, 0.438);
    height: 105px;
    width: 135px;
}
.gi-sd:hover{
    outline-color: white;
    transition: 0.1s;
}
/* information section */
.info-s{
    background-color: #0F0E0C;
    display: flex;
    justify-content: space-around;
    margin-top: 33px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 44px;
}
/* information section div */
.isd h3{
    border-bottom: 1px solid rgb(214, 41, 11);
    color: rgb(206, 206, 206);
    font-family: 'Roboto', sans-serif;
    font-size: 0.99rem;
    padding-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
}
/* information link */
.i-link a{
    color: #999999;
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 0.80rem;
    margin: 2px;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 4px;
    text-transform: capitalize;
}
.i-link a:hover{
    transition: 0.1s;
    text-decoration: underline;
}
/* social */
#ils{
    display: flex;
}
#ils img{
    width: 30px;
    height: 30px;
}
/* footer */
.m-footer{
    background-color: rgba(0, 0, 0, 0.507);
    display: flex;
    align-items: center;
    padding: 22px 88px;
    width: 100%;
}
.m-footer a img{height: 20px;}
.m-footer span{margin-left: 20px;}
.m-footer a:last-child{margin-left: 5px;}
.m-footer span, a{
    color: #e9e9e9;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    text-decoration: none;
    text-transform: uppercase;
}