/* container */
.container{
    margin: auto;
    margin-top: 33px;
    margin-bottom: 50px;
    width: 80%;
}
/* header area */
.header{
    background-color: #eecdb9;
    height: 222px;
}
.header img{
    border-radius: 50%;
    margin-top: -15px;
    margin-left: 33px;
}
/* text in header */
.head-text{
    float: right;
    margin-top: 10px;
    margin-right: 111px;
    text-align: center;
}
.head-text h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.8em;   
    font-weight: 500; 
    letter-spacing: 11px;
    text-transform: uppercase;
    word-spacing: 15px;
}
.head-text hr{
    background-color: black;
    border: none;
    margin: auto;
    width: 222px;
    height: 3px;
}
.head-text h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;   
    font-weight: 500; 
    letter-spacing: 8px;
    text-transform: uppercase;
    word-spacing: 11px;
}
.main{
    margin: auto;
    margin-top: 33px;
    width: 95%;
}
.left{
    float: left;
    width: 28%;
}
.left h3{
    background-color: #595959;
    color: #DACEC5;
    font-size: 1rem;
    letter-spacing: 3px;
    padding: 2px 4px;
    text-align: center;
    text-transform: uppercase;
}
.left ul{
    list-style-type: none;
}
.left ul li{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 5px;
    text-transform: capitalize;
}
.profile p{
    line-height: 22px;
    padding: 8px;
    text-align: justify;
}
.interest p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    margin-left: 15px;
    padding: 5px;
    text-transform: capitalize;
}
.right{
    float: right;
    width: 66%;
}
.right h3{
    background-color: #595959;
    color: #DACEC5;
    font-size: 1rem;
    letter-spacing: 3px;
    padding: 2px 4px;
    text-align: center;
    text-transform: uppercase;
}
.exp{
    text-align: center;
    margin: 5px;
    padding: 5px;
}
.exp h4, em{
    text-transform: capitalize;
}
.exp h4, em, p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.exp p{
    line-height: 22px;
    text-align: justify;
    padding: 5px;
}
.education{
    float: left;
    margin-left: 20px;
    width: 40%;
}
.edu{
    margin: 5px;
}
.edu:first-child{
    margin-bottom: 15px;
}
.edu h4, em, p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 4px;
    text-transform: capitalize;
}
.edu h4{
    font-size: 1rem;
}
.edu em{
    font-size: 0.8rem;
}
.edu p{
    font-size: 0.9rem;
}
.course{
    float: right;
    width: 40%;
}
.cou{
    margin: 8px;
}
.cou h4, em{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 4px;
    text-transform: capitalize;
}
.cou h4{
    font-size: 1rem;
}
.cou em{
    font-size: 0.8rem;
}